<h2>Contact Information</h2>
<ul>
    <li><b>E-mail: <a href="mailto:certicky@gmail.com">certicky@gmail.com</a></b></li>
    <li><b>LinkedIn: </b><a href="http://sk.linkedin.com/pub/michal-certicky/4a/374/24b">sk.linkedin.com/pub/michal-certicky/4a/374/24b</a></li>
</ul>
