<h2>Contact Information</h2>
<ul>
    <li><b>E-mail: <a href="mailto:certicky@gmail.com">certicky@gmail.com</a> or alternatively </b><a href="mailto:certicky@agents.fel.cvut.cz">certicky@agents.fel.cvut.cz</a>, <a href="mailto:michal.certicky@urbanalgorithmics.com">michal.certicky@urbanalgorithmics.com</a>, <a href="mailto:certicky@fmph.uniba.sk">certicky@fmph.uniba.sk</a>, etc. </li>
    <li><b>LinkedIn: </b><a href="http://sk.linkedin.com/pub/michal-certicky/4a/374/24b">sk.linkedin.com/pub/michal-certicky/4a/374/24b</a></li>
</ul>
